.vs
.idea
.env
.vscode

TelegramBot/.idea
TelegramBot/.vs
TelegramBot/bin
TelegramBot/obj
TelegramBot/Properties

DatabaseClassLibrary/bin
DatabaseClassLibrary/obj

WebApi/bin
WebApi/obj
WebApi/Properties